* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sign-up {
    display: flex;
    width: 100%;
    height: 100%;
}

.sign-up-left {
    flex: 2;
}

.empire-bg {
    width: 100%;
    height: 100%;
}

.empire-tittle {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    top: -710px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 8px;
}

.empire-logo {
    filter: invert();
    width: 200px;
}

.empire-tittle > p {
    font-family: 'Star Jedi';
    font-size: 20px;
}

.sign-up-left > footer {
    position: relative;
    top: -262px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.sign-up-right {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.form-top, .form-top ~ div {
    flex: 1;
}
.form-bot {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

.form-top, .form-bot {
    background-color: rgb(240, 240, 240);
}